body {
    overflow: hidden;
    margin: 0;
}
#editor {
    /*position: absolute;*/
    height: 90% !important;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
#statusBar {
    margin: 0;
    padding: 0;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 20px;
    background-color: rgb(245, 245, 245);
    color: gray;
}
#modeDiv {
    margin-right: 100px;
    float: right;
}
#tabs {
    top: 0 !important;
    left: 0 !important;
}

.ui-tabs {
    position: absolute !important;
    height: 100% !important;
    width: 100% !important;
    padding: 0 !important;
}

