html,
body {
  background-color: #161712;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow: auto;
}

* {
  -webkit-user-select: none;
}

:focus {
  outline: none;
}

label{
   font-weight: normal !important;
}

footer {
  float: bottom;
  height: 2%;
}

code {
  color: black;
  background-color: transparent;
}

.tabs-shell {
  width: 100%;
}

#code {
  height: calc(100% - 25px);
  /*min-height: 200px;*/
  width: 100%;
}

#statusBar {
  background-color: #323232;
  position: fixed;
  bottom: 0;
  height: 20px;
  width: 100%;
}

.ace_status-indicator {
  float: right;
  padding-right: 50px;
  color: white;
  font-family: "Courier New", Courier, monospace;
}

#treecontainer {
  height: 100%;
  overflow: auto;
}

button.new {
  padding: 5px;
  margin-left: 15px;
  background: transparent;
  color: #e1e3e1;
  border: none;
  font-size: 18px;
  font-weight: bold;
}


/* horizontal panel*/

.panel-container {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  height: calc(100% - 20px);
  /* avoid browser level touch actions */
  xtouch-action: none;
}

.ui-resizable-e {
  width: 19px;
  right: -10px;
  z-index: 101 !important;
}

.ui-resizable-s {
  height: 19px;
  bottom: -10px;
  z-index: 101 !important;
}

.panel-left {
  flex: 0 0 auto;
  /* only manually resize */
  padding: 0px;
  width: 250px;
  min-height: 200px;
  min-width: 0px;
  max-width: 400px;
  white-space: nowrap;
  color: white;
  height: 100%;
  background-color: #161712;
}

.splitter {
  flex: 0 0 auto;
  width: 1px;
  background: center center no-repeat black;
  min-height: 200px;
  z-index: 100;
}

.panel-right {
  flex: 1 1 auto;
  position: relative;
  /* resizable */
  padding: 0px;
  width: 100%;
  min-height: 200px;
  min-width: 200px;
}

.splitter-horizontal {
  flex: 0 0 auto;
  height: 1px;
  background: center center no-repeat black;
  z-index: 100;
}

.panel-right-bottom {
  flex: 1 1 auto;
  /* resizable */
  background: #eee;
}

.dialog-btn {
  margin: 0 auto;
  display: block;
}

#enterName {
  margin-left: 10px;
}

#railsv {
  margin-left: 10px;
}

#addAction{
  background: transparent;
  border: none;
}

